@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,700&display=swap');

body, h1, h2, h3, h4, h5, h6, p, a, label, button, input
{
    font-family: 'Nunito', sans-serif;
}
header .nav a, header .logo a
{
    color: #ffffff;
}
header .bg-image
{
    background-image :url('../images/page-banner.jpg');
    height: 400px;
}
header .dropdown .dropdown-menu a
{
    color: #0088fb;
}
header .mask
{
    background-color: rgba(0, 0, 0, 0.6);
    color: #ffffff;
}
.navbar, .offcanvas-body
{
    background-color: #0088fb;
}
.offcanvas-body .navbar-nav .dropdown-menu li a
{
    color: #0088fb !important;
}
.offcanvas-body a, .navbar-brand, .offcanvas-body a, .offcanvas-body a.active, .navbar-toggler
{
    color: #ffffff !important;
}
.offcanvas-body a:hover, .offcanvas-body a:active, .offcanvas-body a:focus, .offcanvas-body a.active
{
    color: #0088fb !important;
    background-color: #ffffff;
    padding: 7px 7px;
}
.menu-account-area img
{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50%;
    object-fit: cover;
}

footer
{
    margin-top: 50px;
    background-color: #0088fb;
}
.send-secret-form
{
    background-color: #0088fb;
    padding: 2rem 2rem 2rem 2rem;
    border: 1px solid rgb(18, 11, 76);
    color: #ffffff;
}
#encodeDecodeForm .nav-link
{
    color: #ffffff;
}
#encodeDecodeForm .nav-item .active
{
    color: #000000 !important;
}
.login-cta
{
    background-color:  #efefef;
}
#sendSecretMessageForms #btnSubmit
{
    color: #0088fb;
    font-weight: bold;
}